<!--<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    
    <script src="app/yao.js" type="text/javascript"></script>

</head>
<body>
    <div ng-controller="MyController">
        <h1>Hello {{ name }}</h1>
    </div>
    <div ng-controller="TwoController">
        <h1>Bonjour {{ bjr }}</h1>
    </div>
    <div ng-controller="FreeController">
        <h1>Bonjour {{ trois}}</h1>
    </div>
    <div ng-controller="KaController">
        <h1>Bonjour {{ quatre }}</h1>
    </div>
</body>
</html>  -->

<!DOCTYPE html>
<html ng-app="myApp">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script src="app/yao.js" type="text/javascript"></script>
</head>
<body>

	<nav ng-controller="NavController"
		class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href ng-click="navigateTo('/view1')">Vue 1</a></li>
				<li class="nav-item"><a class="nav-link" href
					ng-click="navigateTo('/view2')">Vue 2</a></li>
				<li class="nav-item"><a class="nav-link" href
					ng-click="navigateTo('/view3')">Vue 3</a></li>
				<li class="nav-item"><a class="nav-link" href
					ng-click="navigateTo('/view4')">Vue 4</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div ng-view></div>
	</div>

</body>
</html>




